#portfolio-header {
  font-family: 'Monoton', cursive;
}

#portfolio-header-1 {
  font-family: 'Source Code Pro', monospace;
  color: rgb(167, 167, 194);
  font-size: 2.5em;
}

span:hover {
  font-size: larger;
}

.projects-list {
  color: rgb(167, 167, 194);
  cursor: pointer;
}

.display-project {
  color: rgb(167, 167, 194);
}

.project-active {
  color: rgb(45, 184, 136);
  font-size: x-large;
  font-weight: bolder;
}