.margin-horizontal {
  top: 0;
  left: 0;
}

#portfolio-header {
  font-family: 'Monoton', cursive;
}

#portfolio-header-1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 2.5em;
}

/* font-family: 'Faster One', cursive; */

span:hover {
  /* color: rgb(255, 255, 255); */
  font-size: larger;
}

.projects {
  cursor: pointer;
}

.project-active {
  color: rgb(45, 184, 136);
  font-size: x-large;
  font-weight: bolder;
}