footer {
  height: 140px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: rgb(45, 184, 136);
  text-decoration: none;
  font-size: larger;
  text-align: center;
  vertical-align: middle;
  /* border-top-left-radius: 50px 5px;
  border-top-right-radius: 50px 15px; */
}

.icons {
  font-size: larger;
}