* {
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background: linear-gradient(#03011c, #000000);
  opacity: 0.99;
}